@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");
@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@300;400;500;600;700&display=swap");
* {
  box-sizing: border-box;
}

body {
  font-family: "IBM Plex Sans", sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: #333;
  background-color: #f8f9fa;
  margin: 0;
  padding: 0;
}

address {
  font-style: normal;
}

.rounded-bottom-0 {
  border-bottom-right-radius: 0 !important;
  border-bottom-left-radius: 0 !important;
}

.bg-body-secondary {
  background-color: #f8f9fa !important;
}

.d-none {
  display: none !important;
}

.text-body-tertiary {
  color: #6c757d !important;
}

.text-center {
  text-align: center !important;
}

.text-end {
  text-align: right !important;
}

.align-top {
  vertical-align: top !important;
}

table {
  caption-side: bottom;
  border-collapse: collapse;
}

th {
  text-align: inherit;
  text-align: -webkit-match-parent;
}

thead,
tbody,
tfoot,
tr,
td,
th {
  border-color: inherit;
  border-style: solid;
  border-width: 0;
}

.table {
  width: 100%;
  margin-bottom: 1rem;
  vertical-align: top;
}

th {
  font-weight: normal;
}

.table > :not(caption) > * > * {
  padding: 0.5rem 0.5rem;
  border-bottom-width: 0;
}

.table > tbody {
  vertical-align: inherit;
}

.table > thead {
  vertical-align: bottom;
}

.card {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  color: #475569;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border-radius: 0.5rem;
}

.text-truncate {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.card-body {
  flex: 1 1 auto;
  padding: 1.5rem;
}

.container {
  width: 100%;
  padding-right: 0.75rem;
  padding-left: 0.75rem;
  margin-right: auto;
  margin-left: auto;
}

.py-3 {
  padding-top: 1rem !important;
  padding-bottom: 1rem !important;
}

.justify-content-between {
  justify-content: space-between !important;
}

.fw-semibold {
  font-weight: 600 !important;
}

.text-muted {
  color: rgba(71, 85, 105, 0.75) !important;
}

.text-body-emphasis {
  color: #0f172a !important;
}

.d-flex {
  display: flex !important;
}

.align-items-center {
  align-items: center !important;
}

.mb-3 {
  margin-bottom: 1rem !important;
}

.clearfix {
  display: flow-root;
}

.mb-1 {
  margin-bottom: 0.25rem !important;
}

.mb-4 {
  margin-bottom: 1.5rem !important;
}

.lh-1 {
  line-height: 1 !important;
}

.fs-5 {
  font-size: 1.25rem !important;
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin-right: -0.75rem;
  margin-left: -0.75rem;
}

.row > * {
  flex-shrink: 0;
  width: 100%;
  max-width: 100%;
  padding-right: 0.75rem;
  padding-left: 0.75rem;
}

.col {
  flex: 1 0 0%;
}

.col-6 {
  flex: 0 0 50%;
  max-width: 50%;
}

p {
  margin-top: 0;
  margin-bottom: 1rem;
}

.mb-5 {
  margin-bottom: 3rem !important;
}

dd {
  margin-bottom: 0.5rem;
  margin-left: 0;
}

dl {
  margin-top: 0;
  margin-bottom: 1rem;
}

.text-warning-emphasis {
  color: #663900 !important;
}

.text-capitalize {
  text-transform: capitalize !important;
}

.badge {
  display: inline-block;
  padding: 0.8125em 0.95em;
  font-weight: 700;
  line-height: 1;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: 0.25rem;
}

.justify-content-center {
  justify-content: center !important;
}

.w-8 {
  width: 7.5rem !important;
}

.bg-warning-subtle {
  background-color: #ffe9cc !important;
}

.gap-3 {
  gap: 1rem !important;
}

.vstack {
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;
  align-self: stretch;
}

.fs-4 {
  font-size: 1.5rem !important;
}

.bg-secondary {
  background-color: rgb(100, 116, 139) !important;
}

.rounded-top-0 {
  border-top-left-radius: 0 !important;
  border-top-right-radius: 0 !important;
}

.mb-6 {
  margin-bottom: 4rem !important;
}

.text-white {
  color: #fff !important;
}

.d-block {
  display: block !important;
}

@media (min-width: 768px) {
  .d-md-none {
    display: none !important;
  }
  .p-md-5 {
    padding: 3rem !important;
  }
  .d-md-flex {
    display: flex !important;
  }
  .text-md-end {
    text-align: right !important;
  }
  .d-md-table {
    display: table !important;
  }
  .col-md-4 {
    flex: 0 0 33.333333% !important;
    max-width: 33.333333% !important;
  }
}
.me-2 {
  margin-right: 0.5rem !important;
}

.fs-6 {
  font-size: 1rem !important;
}

@media (min-width: 1200px) {
  .py-xl-4 {
    padding-top: 1.5rem !important;
    padding-bottom: 1.5rem !important;
  }
  .col-xl-12 {
    flex: 0 0 100% !important;
    max-width: 100% !important;
  }
}
@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}
@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
  .col-md-12 {
    flex: 0 0 100% !important;
    max-width: 100% !important;
  }
}
@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}
@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}
@media (min-width: 1400px) {
  .container {
    max-width: 1320px;
  }
}

/*# sourceMappingURL=email.css.map */
