/* Error: Can't find stylesheet to import.
<<<<<<< HEAD
 *    ,
 * 38 | @import "./bootstrap/card";
 *    |         ^^^^^^^^^^^^^^^^^^
 *    '
 *   app/styles/index.scss 38:9  root stylesheet */
=======
 *   ,
 * 1 | @import "../../node_modules/react-toastify/scss/variables";
 *   |         ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
 *   '
 *   app/components/toast-message/_styles.scss 1:9  @import
 *   app/styles/index.scss 51:9                     root stylesheet */
>>>>>>> 5fbb494 (update styles)

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
<<<<<<< HEAD
  content: "Error: Can't find stylesheet to import.\a    \2577 \a 38 \2502  @import \"./bootstrap/card\";\a    \2502          ^^^^^^^^^^^^^^^^^^\a    \2575 \a   app/styles/index.scss 38:9  root stylesheet";
=======
  content: "Error: Can't find stylesheet to import.\a   \2577 \a 1 \2502  @import \"../../node_modules/react-toastify/scss/variables\";\a   \2502          ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^\a   \2575 \a   app/components/toast-message/_styles.scss 1:9  @import\a   app/styles/index.scss 51:9                     root stylesheet";
>>>>>>> 5fbb494 (update styles)
}
